{% extends 'Shop/layout.html.twig' %}

{% block title %}{{ 'template.title'|trans({'%current%': root.name}) }}{% endblock %}

{% block metatags %}
    {% include 'Shop/Blocks/meta_tags.html.twig' with {
        'keywords': root.metaKeywords,
        'description': root.metaDescription
    } %}
{% endblock %}

{% block content %}
    <div class="page home-page">
        <svg class="decor-item decor-item-1">
            <use xlink:href="{{ asset('/assets/shop/images/sprite.svg') }}#decor-1"></use>
        </svg>
        <svg class="decor-item decor-item-2">
            <use xlink:href="{{ asset('/assets/shop/images/sprite.svg') }}#decor-2"></use>
        </svg>
        <svg class="decor-item decor-item-3">
            <use xlink:href="{{ asset('/assets/shop/images/sprite.svg') }}#decor-3"></use>
        </svg>
        <svg class="decor-item decor-item-4">
            <use xlink:href="{{ asset('/assets/shop/images/sprite.svg') }}#decor-2"></use>
        </svg>
        <svg class="decor-item decor-item-5">
            <use xlink:href="{{ asset('/assets/shop/images/sprite.svg') }}#decor-3"></use>
        </svg>
        <svg class="decor-item decor-item-6">
            <use xlink:href="{{ asset('/assets/shop/images/sprite.svg') }}#decor-1"></use>
        </svg>
        <div class="page-inner ">
            {% include 'Shop/Fragment/_slider.html.twig' with { 'images': root.images } %}
            {% include 'Shop/Blocks/subcategory_block.html.twig' with { 'root': root } %}
            {% include 'Shop/Blocks/newest_products.html.twig' %}
            {% include 'Shop/Blocks/most_popular.html.twig' %}
        </div>
        <div class="text-caption">
            <div class="text-caption__inner">
                <svg class="decor-item decor-item-1">
                    <use xlink:href="{{ asset('/assets/shop/images/sprite.svg') }}#decor-1"></use>
                </svg>
                <svg class="decor-item decor-item-2">
                    <use xlink:href="{{ asset('/assets/shop/images/sprite.svg') }}#decor-2"></use>
                </svg>
                <svg class="decor-item decor-item-3">
                    <use xlink:href="{{ asset('/assets/shop/images/sprite.svg') }}#decor-3"></use>
                </svg>
                <div class="page-title">
                    <span>Welcome to ziGIFTS</span>
                    <svg>
                        <use xlink:href="{{ asset('/assets/shop/images/sprite.svg') }}#wave"></use>
                    </svg>
                </div>
                <div class="text-caption__content scrollable">
                    {{ root.description|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
