<div class="services-item">
    <div class="services-item__thumb">
        <div class="services-item__slider">
            {% for image in item.images %}
            <div class="services-item__slide">
                {% include 'Shop/Fragment/_img_trumbnail.html.twig' with {'image': image, 'filter': 'products_index_slider'} %}
            </div>
            {% endfor %}

        </div>
        <div class="services-item__nav">
            {% for image in item.images %}
            <div class="services-item__nav-item">
                {% include 'Shop/Fragment/_img_trumbnail.html.twig' with {'image': image, 'filter': 'products_index_slider_nav_item'} %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="services-item__inner">
        <div class="services-item__title">
            <a href="{{ path('shop_product_' ~ item.id) }}">{{ item.name }}</a>
        </div>
        <div class="services-item__info">
            <div class="services-item__line">
                <div class="services-item__label">{{ 'template.products_index.location'|trans }}</div>
                <div class="services-item__content">{{ item.address }}</div>
            </div>
            <div class="services-item__line">
                <div class="services-item__label">{{ 'template.products_index.area'|trans }}</div>
                <div class="services-item__content">{{ item.address.getProvince() }}</div>
            </div>
            <div class="services-item__line">
                <div class="services-item__label">{{ 'template.products_index.description'|trans }}</div>
                <div class="services-item__caption">{{ item.description|raw }}</div>
            </div>
        </div>
        <div class="services-price">
            <div class="services-price__label">{{ 'template.products_index.price_title'|trans }}</div>
            {{ 'template.products_index.price'|trans({'%price%': item.price})|raw }}
        </div>
        {% include 'Shop/Product/Parts/_buy_button.html.twig' with { 'id' : item.id } %}
    </div>
</div>
