{% extends 'Shop/layout.html.twig' %}

{% block content %}
    <div class="page authorization-page">
        <div class="page-inner">
            <ul class="breadcrumbs">
                <li>
                    <a href="{{ path('app_shop_homepage') }}">{{ 'template.home'|trans }}</a>
                </li>
                <li>
                    <span>{{ 'template.security.user.auth'|trans }}</span>
                </li>
            </ul>
            <div class="page-title">
                <span>{{ 'template.security.user.auth'|trans }}</span>
                <svg>
                    <use xlink:href="{{ asset('assets/shop/images/sprite.svg') }}#wave"></use>
                </svg>
            </div>
            <div class="authorization">
                <ul class="authorization-tabs tabs-list">
                    <li>
                        <a href="#singup">
                            {{ 'template.security.user.new_user'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#login">
                            {{ 'template.security.user.have_account'|trans }}
                        </a>
                    </li>
                </ul>
                <div id="singup" class="tab">
                    {{ render(url('app_shop_user_register')) }}
                </div>
                <div id="login" class="tab">
                    {{ render(url('app_shop_user_login')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        window.addEventListener('load', function () {
            App.Security.init();
        })
    </script>
{% endblock %}
