
{% import 'Shop/macro.html.twig' as macro %}

<form class="reg-form" action="{{ path('app_shop_user_register') }}" method="post" id="reg-form">
    <div class="form-row">
        <div class="form-column">
            <div class="form-group">
                {{ macro.label(form.firstName) }}
                {{ form_widget(form.firstName, {'attr': {'class': 'form-field'}}) }}
            </div>
            <div class="form-group">
                {{ macro.label(form.lastName) }}
                {{ form_widget(form.lastName, {'attr': {'class': 'form-field'}}) }}
            </div>
            <div class="form-group">
                {{ macro.label(form.phoneNumber) }}
                {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-field'}}) }}
            </div>
            <div class="form-group">
                {{ macro.label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-field'}}) }}
            </div>
        </div>
        <div class="form-column">
            <div class="form-group">
                {{ macro.label(form.user.plainPassword.first, false) }}
                {{ form_widget(form.user.plainPassword.first, {'attr': {'class': 'form-field'}}) }}
            </div>
            <div class="form-group">
                {{ macro.label(form.user.plainPassword.second, false) }}
                {{ form_widget(form.user.plainPassword.second, {'attr': {'class': 'form-field'}}) }}
            </div>
            <div class="form-group">
                <label class="custom-checkbox">
                    {{ form_widget(form.subscribedToNewsletter) }}
                    <span class="custom-checkbox__box"></span>
                    <span class="custom-checkbox__label">{{ form.subscribedToNewsletter.vars.label|trans({}, 'form') }}</span>
                </label>
            </div>
            {{ form_widget(form._token) }}
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn--blue" id="submit-reg-form">{{ 'template.security.user.button_register'|trans }}</button>
    </div>
</form>
<div class="authorization-social">
    <div class="authorization-social__separator">
        <span>{{ 'template.security.user.social_register_title'|trans }}</span>
    </div>
    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'wechat'}) }}" class="authorization-social__btn">
        <img src="{{ asset('assets/shop/images/wechatpay.png') }}" width="99" height="26" alt="">
    </a>
</div>
